<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Div's Porfile</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/materialize.css" />
    <link rel="stylesheet" href="assets/css/style.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

    <div id="app" class="main">
        <div class="container">
            <div class="row about">
                <div class="col s12">
                    <h2 class="header blue-grey-text lighten-1">About Me</h2>
                </div>
                <div class="col s12">
                    <div class="card horizontal">
                        <div class="card-image" style="background: url(assets/img/bg-intro.jpg)">

                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Introduction</span>
                                <ul>
                                    <li v-for="introduction in introductions">{{ introduction }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="card horizontal">
                        <div class="card-image" style="background: url(assets/img/bg-skills.jpg)">

                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Skills</span>
                                <button v-for="skill in skills" class="waves-effect waves-light btn-small btn-skill light-blue darken-2">{{ skill }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row works">
                <div class="col s12">
                    <h2 class="header blue-grey-text lighten-1">Works</h2>
                </div>
                <div v-for="work in works" class="col s12 m6 l6 xl4">
                    <div class="card">
                        <div class="card-image">
                            <img :src="work.image">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ work.name }}</span>
                            <p>{{ work.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul id="slide-nav" class="sidenav sidenav-fixed blue-grey lighten-5">
        <li>
            <div class="user-view">
                <img src="assets/img/avatar.jpg" class="avatar z-depth-2">
            </div>
        </li>
        <li>
            <i class="material-icons">person</i>Div
        </li>
        <li>
            <i class="material-icons">email</i>b510336@gmail.com
        </li>
        <li>
            <i class="material-icons">place</i>Taipei City
        </li>
        <li>
            <i class="material-icons">work</i>Web Engineer
        </li>

    </ul>

    <footer class="page-footer blue-grey darken-1">
        <div class="footer-copyright">
            <div class="container right-align">
                © 2018 Copyright DivaDebug
            </div>
        </div>
    </footer>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/materialize.js"></script>
</body>

</html>