<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Div's Porfile</title>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T88P22C');
    </script>
    <!-- End Google Tag Manager -->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/materialize.css" />
    <link rel="stylesheet" href="assets/css/style.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T88P22C" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="app" class="main">
        <div class="container">
            <div class="row head-mobile hide-on-large-only">
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <img src="assets/img/avatar.jpg" class="avatar z-depth-2">
                        <div class="card-content white-text">
                            <span class="card-title">Profile</span>
                            <ul>
                                <li>
                                    <i class="material-icons">person</i>Div
                                </li>
                                <li>
                                    <i class="material-icons">email</i>b510336@gmail.com
                                </li>
                                <li>
                                    <i class="material-icons">place</i>Taipei City
                                </li>
                                <li>
                                    <i class="material-icons">work</i>Web Engineer
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row about">
                <div class="col s12">
                    <h2 class="header blue-grey-text lighten-1">About Me</h2>
                </div>
                <div class="col s12">
                    <div class="card horizontal">
                        <div class="card-image" style="background: url(assets/img/bg-intro.jpg)">

                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Introduction</span>
                                <ul>
                                    <li v-for="introduction in introductions">{{ introduction }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="card horizontal">
                        <div class="card-image" style="background: url(assets/img/bg-skills.jpg)">

                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Skills</span>
                                <button v-for="skill in skills" class="waves-effect waves-light btn-small btn-skill light-blue darken-2">{{ skill }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row works">
                <div class="col s12">
                    <h2 class="header blue-grey-text lighten-1">Works</h2>
                </div>
                <div v-for="work in works" class="col s12 m6 l6 xl4">
                    <div class="card">
                        <a :href="work.url" class="card-image" :style="`background: url(${work.image})`" target="_blank"></a>
                        <div class="card-content">
                            <a :href="work.url" class="card-title" target="_blank">{{ work.name }}</a>
                            <p>{{ work.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul id="slide-nav" class="sidenav sidenav-fixed blue-grey lighten-5">
        <li>
            <div class="user-view">
                <img src="assets/img/avatar.jpg" class="avatar z-depth-2">
            </div>
        </li>
        <li>
            <i class="material-icons">person</i>Div
        </li>
        <li>
            <i class="material-icons">email</i>b510336@gmail.com
        </li>
        <li>
            <i class="material-icons">place</i>Taipei City
        </li>
        <li>
            <i class="material-icons">work</i>Web Engineer
        </li>
    </ul>

    <footer class="page-footer blue-grey darken-1">
        <div class="footer-copyright">
            <div class="container right-align">
                © 2018 Copyright DivaDebug
            </div>
        </div>
    </footer>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/materialize.js"></script>
</body>

</html>