$break-point-desktop: 992px;
$break-point-mobile: 600px;
body {
    background: #fafafa;
}

#slide-nav {
    transition: all 0.5s;
    .avatar {
        width: 200px;
        border-radius: 50%;
    }
    >li {
        padding-left: 20px;
        font-weight: bold;
        >i {
            margin-right: 15px;
            line-height: 44px;
            float: left;
        }
    }
}

.page-footer {
    padding-top: 0;
}

.main {
    padding-left: 300px;
    transition: all 0.5s;
    >.container {
        width: 100%;
        .about {
            .header {
                font-weight: bold;
            }
            .card {
                min-height: 200px;
                >.card-image {
                    width: 20%;
                    background-size: cover !important;
                    background-position: top !important;
                    background-repeat: no-repeat !important;
                }
                .card-title {
                    font-weight: bold;
                }
                .card-content {
                    padding: 15px 30px;
                    >ul {
                        margin-left: 17px;
                        >li {
                            list-style: initial;
                        }
                    }
                }
                .btn-skill {
                    margin: 5px;
                    text-transform: none;
                }
            }
        }
        .works {
            .header {
                font-weight: bold;
            }
            .card {
                height: 350px;
                >a {
                    &.card-image {
                        height: 200px;
                        display: block;
                        background-size: 100% !important;
                        background-position: top !important;
                        background-repeat: no-repeat !important;
                        transition: all 0.5s;
                        &:hover {
                            background-size: 110% !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $break-point-desktop) {
    .main {
        padding-left: 0px;
    }
}

@media screen and (max-width: $break-point-mobile) {
    .main {
        padding-left: 0px;
        .card {
            &.horizontal {
                display: block;
                .card-image {
                    min-width: 100%;
                    height: 300px;
                }
            }
        }
        >.container {
            .works {
                .card {
                    height: auto;
                }
            }
        }
    }
}