#slide-nav {
    transition: all 0.5s;
    .avatar {
        width: 200px;
        border-radius: 50%;
    }
    >li {
        padding-left: 20px;
        font-weight: bold;
        >i {
            margin-right: 15px;
            line-height: 44px;
            float: left;
        }
    }
}

.page-footer {
    padding-top: 0;
}

.main {
    padding-left: 300px;
    >.container {
        width: 100%;
    }
    .card {
        >.card-image {
            width: 20%;
            background-size: cover !important;
            background-position: top !important;
            background-repeat: no-repeat !important;
        }
        .card-title {
            font-weight: bold;
        }
        .card-content {
            padding: 15px 30px;
            >ul {
                margin-left: 17px;
                >li {
                    list-style: initial;
                }
            }
        }
        .btn-skill {
            margin: 5px;
            text-transform: none;
        }
    }
}