html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: sans-serif, '微軟正黑體';
    background: #CCC;
}
.row {
    margin: auto 0 auto 0;
    padding-left: 3%;
    padding-right: 3%;
}
.main_block {
    background: #FFFFFF;
    padding: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
}
#brand_block {
    background: #2C7D9C;
    padding: 3em 3% 3em 3%;
}
.brand {
    font-size: xx-large;
    color: white;
}
#brand_block .input-group {
    width: 50%;
    margin-top: 4px;
}
.navbar {
    border: none;
    background: #005081;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-default .navbar-nav li a {
    color: #FFFFFF;
    padding-left: 2.3em;
    padding-right: 2.3em;
    font-size: medium;
}
.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover {
    color: #005081;
    background: #CCDCE6;
    font-weight: bolder;
}
.banner {
    padding: 0;
}
.banner img {
    width: 100%;
}
h2.no-span {
    display: table;
    white-space: nowrap;
    color: #005081;
    font-weight: bold;
    margin: 40px auto 30px auto;
}
h2.no-span:after {
    border-top: 3px solid #5D90AF;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 89.2%;
}
h2.no-span:after {
    left: 2%;
}
.news_row {
    border-bottom: solid 1px #E4E4E4;
    font-size: medium;
    margin-bottom: 1.5em;
}
.news_row .glyphicon {
    color: #FF7800;
}
.news_row a {
    color: #0B5785;
}
.post_date {
    position: absolute;
    right: 15px;
    color: #ACACAC;
}
.panel {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
    margin-top: -15px;
}
.panel-heading {
    background: #2C7D9C;
    color: #FFFFFF;
}
h2.panel-title {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
}
.consult_mode .radio-inline:first-child {
    margin-right: 2em;
}
.panel-body input {
    margin-bottom: 1em;
}
.input-group {
    margin-bottom: 1em;
}
.btn-submit {
    background: #4EB0CE;
    color: #FFFFFF;
}
.btn-submit:hover, .btn-submit:focus, .btn-submit:active {
    background: #4CA4bF;
    color: #FFFFFF;
}
.btn-more {
    background: #2C7D9C;
    color: #FFFFFF;
}
.btn-more:hover, .btn-more:focus, .btn-more:active {
    background: #969696;
    color: #FFFFFF;
}
.thumbnail {
    padding: 0;
    border-color: #7DA5BF;
    border-radius: 0;
    transition: all 0.5s ease;
}
.thumbnail:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.news_block {
    padding-left: 3px;
    padding-right: 3px;
}
.caption h3 {
    color: #FF7700;
    font-weight: bold;
}
.ad_block {
    background: #F0F0F0;
    padding: 1em;
    margin: 20px auto 40px auto;
}
.ad_img {
    width: 80%;
    margin: 0 auto;
}
.cooperate_block {
    margin-bottom: 40px;
}
footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    background-color: #2C7D9B;
    color: #CCDCE7;
}
footer .footer_up {
    background: #2C7D9B;
    padding: 20px;
}
footer .footer_down {
    background: #005081;
    text-align: center;
    padding: 0.5em;
    color: #FFFFFF;
}
.bottom_menu {
    margin-top: 12px;
}
.bottom_menu p {
    display: inline-block;
}
.bottom_menu p a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: medium;
    border-right: solid 1px #CCDCE7;
    padding-right: 16px;
    margin-left: 12px;
}
.bottom_menu p:last-child a {
    border-right: none;
}
.bottom_menu p a:hover {
    color: #002754;
}
.slick-prev::before {
    color: rgba(152, 152, 152, 0.8);
    font-size: 50px;
    font-weight: bold;
    background: rgba(240, 240, 240, 0.8);
    padding: 0px 10px 7px 16px;
    content: '<';
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.slick-next::before {
    color: rgba(152, 152, 152, 0.8);
    font-size: 50px;
    font-weight: bold;
    background: rgba(240, 240, 240, 0.8);
    padding: 0px 10px 7px 16px;
    content: '>';
    -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.slick-prev {
    left: -25px;
    z-index: 1;
}
.slick-next {
    right: 5px;
    z-index: 2;
}
/*#popular_discussions .slick-next {
    z-index: 2;
    right: 37px;
}
#popular_discussions .slick-prev {
    z-index: 2;
    left: -40px;
}*/
#popular_discussions {
    padding-left: 0;
    padding-right: 0;
}
.carousel-inner .item a img,
.carousel-inner .item img,
.img-responsive,
.thumbnail a img,
.thumbnail img {
    width: 100%;
}
@media screen and (max-device-width: 750px) {
    #brand_block .input-group {
        width: 100%;
    }
    .ad_block {
        padding: 1em;
        margin: 20px auto 40px auto;
    }
    .ad_img {
        width: 100%;
        margin: 0 auto;
    }
    .news_block {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
        width: 100%;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
